# SERVICIO DE AUTENTICACIÓN (FastAPI / Python)
AUTH_PORT=8000
AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=postgres
AUTH_DB_NAME=auth_db
AUTH_DB_PORT=5433

# Requerida solo si corres el servicio localmente fuera de Docker (fastapi run)
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/auth_db

# Seguridad de Tokens JWT
SECRET_KEY=clave_ultra-secreta
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# SERVICIO DE ESPACIOS (Go)

SPACE_PORT=8001
SPACE_DB_USER=postgres
SPACE_DB_PASSWORD=postgres
SPACE_DB_NAME=space_db
SPACE_DB_PORT=5434

# SERVICIO DE RESERVAS (Rust)
RESERVATION_PORT=8002
RESERVATION_DB_USER=postgres
RESERVATION_DB_PASSWORD=postgres
RESERVATION_DB_NAME=reservation_db
RESERVATION_DB_PORT=5435

# SERVICIO DE FACTURACIÓN (Node.js / Express)
BILLING_PORT=8003
BILLING_DB_USER=postgres
BILLING_DB_PASSWORD=postgres
BILLING_DB_NAME=billing_db
BILLING_DB_PORT=5436
